@font-face {
  font-family: "iconfont"; /* Project id 3960280 */
  src: url('iconfont.woff2?t=1679064482035') format('woff2'),
       url('iconfont.woff?t=1679064482035') format('woff'),
       url('iconfont.ttf?t=1679064482035') format('truetype'),
       url('iconfont.svg?t=1679064482035#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
  content: "\e727";
}

.icon-zhifu:before {
  content: "\e810";
}

.icon-weizhifu:before {
  content: "\e6c2";
}

.icon-red-chongwuxiujian:before {
  content: "\e61d";
}

.icon-kemianfeixiedaichongwu:before {
  content: "\e707";
}

.icon-chongwu:before {
  content: "\e67b";
}

.icon-chongwu1:before {
  content: "\e612";
}

.icon-chongwujiyang:before {
  content: "\e669";
}

.icon-chongwumeirong:before {
  content: "\e66a";
}

.icon-chongwuguantou:before {
  content: "\e601";
}

.icon-chongwufushi:before {
  content: "\e602";
}

.icon-chongwulingshi:before {
  content: "\e603";
}

.icon-chongwusheying:before {
  content: "\e604";
}

.icon-chongwuxizao:before {
  content: "\e605";
}

.icon-chongwuxiujian:before {
  content: "\e606";
}

.icon-chongwuyimiao:before {
  content: "\e607";
}

.icon-red-chongwufushi:before {
  content: "\e618";
}

.icon-red-chongwugutou:before {
  content: "\e619";
}

.icon-red-chongwuxizao:before {
  content: "\e61b";
}

.icon-red-chongwuyiliao:before {
  content: "\e61c";
}

.icon-shequhudong:before {
  content: "\e632";
}

.icon-_shequluntan:before {
  content: "\e609";
}

.icon-chongwupeizhong:before {
  content: "\e608";
}

.icon-chongwulingyang:before {
  content: "\e60a";
}

.icon-chongwuyiyuan:before {
  content: "\e60b";
}

.icon-bianjichongwuziliao:before {
  content: "\e600";
}

.icon-chongwushibie:before {
  content: "\e60c";
}

.icon-1:before {
  content: "\e60d";
}

.icon-chongwulianyi:before {
  content: "\ed0d";
}

.icon-chongwushangdian:before {
  content: "\e60e";
}

.icon-chongwushipin:before {
  content: "\e6c0";
}

.icon-chongwushejiao:before {
  content: "\e60f";
}

.icon-chongwuhunpei:before {
  content: "\e610";
}

